    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Kostas</h2>
                <p>I am a Computer Science (C.S.) Ph.D. student at the
                <a href="https://www.cs.utexas.edu/">University of
                Texas at Austin</a>&nbsp(a.k.a.&nbspUT). My advisor
                is <a href="http://www.cs.utexas.edu/~isil/">Işıl&nbspDillig</a>
                and I am a member of
                the <a href="http://utopia.cs.utexas.edu">UToPiA</a>
                research lab. My research field is Programming
                Languages, and specifically I work on static analysis
                and software verification. My current goal is to
                design and implement practical tools that detect bugs
                and security vulnerabilities in real&#8209world
                software applications. Prior to UT, I received my
                B.Sc. and M.Sc. degrees (both in C.S.) from
                the <a href="http://www.di.uoa.gr/eng">University of
                Athens, Greece</a>. During my master's, I was working
                as a research assistant under the supervision
                of <a href="http://smaragd.org">Yannis&nbspSmaragdakis</a>. If
                you would like to find out more about me, you can
                download my&nbsp<a href="/docs/kferles_cv.pdf"
                onclick="ga('send', 'event', link', 'click', 'CV', 0);">CV</a>.</p>
            </div>
        </div>
    </section>
