    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Hello Y'all</h1>
                        <p>
                        <img class="img-me" src="/img/me.jpg" alt="">
                        </p>
                        <p class="intro-text">I'm Kostas, thanks for
                        dropping by. If you'd like to learn more about
                        me, click the fancy arrow!</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
