<!-- Download Section -->
<section id="publications" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Publications</h2>
      </div>
      <div class="col-lg-12 col-lg-offset-2">
        <ul>
          <li class="paper">
            An Efficient Data Structure for Must-Alias Analysis
            <dl class="author-lists">
              <dt><a href="http://gkastrinis.info/">George Kastrinis</a>, <a href="http://gbalats.github.io/">George Balatsouras</a>, <i>Kostas Ferles</i>,</dt>
              <dt>Nefeli Prokopaki-Kostopoulou, <a href="http://smaragd.org/">Yannis Smaragdakis</a> @ <a href="https://cc-conference.github.io/18/">CC '18</a> (to appear)</dt>
            </dl>
          </li>
          <li class="paper">
            Failure-Directed Program Trimming  <a class="fa fa-file-pdf-o fa-lg" href="/docs/publications/FSE-17.pdf"></a> <a style="font-size: medium;" href="https://arxiv.org/abs/1706.04468">(arXiv)</a>
            <dl class="author-lists">
              <dt><i>Kostas Ferles</i>, <a href="http://people.inf.ethz.ch/wuesthov/">Valentin Wüstholz</a>, <a href="https://mariachris.github.io/">Maria Christakis</a>, <a href="http://www.cs.utexas.edu/~isil/">Işıl Dillig</a> @ <a href="http://esec-fse17.uni-paderborn.de/">FSE '17</a></dt>
            </dl>
          </li>
          <li class="paper">
            A Datalog Model of Must-Alias Analysis <a class="fa fa-file-pdf-o fa-lg" href="/docs/publications/SOAP-17.pdf"></a>
            <dl class="author-lists">
              <dt><a href="http://gbalats.github.io/">George Balatsouras</a>, <i>Kostas Ferles</i>, <a href="http://gkastrinis.info/">George Kastrinis</a>, <a href="http://smaragd.org/">Yannis Smaragdakis</a> @ <a href="http://conf.researchr.org/track/pldi-ecoop-2017/SOAP-2017-papers">SOAP '17</a></dt>
            </dl>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
  
</section>
