    <!-- Download Section -->
    <section id="publications" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-2">
                  <h2>List of Publications</h2>
                
                  <ul>
                    <li class="paper">
                      A Datalog Model of Must-Alias Analysis <a class="fa fa-file-pdf-o fa-lg" href="/docs/must-alias.pdf"></a>
                      <dl class="author-lists">
                        <dt><a href="http://gbalats.github.io/">George Balatsouras</a>, <i>Kostas Ferles</i>, <a href="http://gkastrinis.info/">George Kastrinis</a>, <a href="http://smaragd.org/">Yannis Smaragdakis</a> @ <a href="http://conf.researchr.org/track/pldi-ecoop-2017/SOAP-2017-papers">SOAP '17</a></dt>
                      </dl>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
        
    </section>
